.home-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
  }
  
  .home-header {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .home-intro {
    color: #bdd3e9;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product-item {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .product-item:hover {
    transform: scale(1.05);
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    padding: 15px;
  }
  
  .product-info h2 {
    color: #2980b9;
    margin: 0;
  }
  
  .product-info p {
    color: #555;
  }
  body {
   
    background-image: url('D:\React project\OnlineShop\src\assets\__צילום מסך_24-3-2025_145733_.jpeg'); /* ודא שהנתיב נכון */
    background-size: cover; /* מכסה את כל הדף */
    background-position: center; /* ממקם את התמונה במרכז */
    background-repeat: no-repeat; /* מונע חזרה של התמונה */
  }